<template>
  <div>
<div v-if="user">
<a href="/logout">logout</a>
</div>
    <section class="pb-45">
      <div class="container">
        <div class>
          
          <div class="col-md-6">
            <form id="app" @submit="login" method="post">
              <div class="register_box full-width">
                <h2 class="gift-head">Login</h2>
                <div class="row">
                   
                  <!-- /.col-lg-6 -->
                  <div class="col-lg-6 col-md-6">
                    <input
                      class="inpt"
                      type="text"
                      v-model="email"
                      required
                      placeholder="Email"
                    />
                    <label v-if="errors && errors.email" class="error">{{ errors.email[0] }}</label>
                  </div>
                  <!-- /.col-lg-6 -->
                  <div class="col-lg-6 col-md-6">
                    <input
                      class="inpt"
                      type="password"
                      style="-moz-appearance: textfield;"
                      v-model="password"
                      required
                      placeholder="Password"
                    />
                    <label v-if="errors && errors.password" class="error">{{ errors.password[0] }}</label>
                  </div>
                  
                  
                </div>
                <!-- /.row -->

              
              </div>

              <div class="register_box full-width">
                
                <button
                  class="button-main"
                  type="button"
                  @click="login"
                >Login</button>
                <!-- </div> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      email: null,
      password: null,
      errors: {},
      success: false
      
    };
  },
  props: {
  },

  methods: {
 

    
    login: function(e) {
      let data = {
        email: this.email,
        password: this.password,
      };

      this.errors = {};

      axios
        .post("/login", data)
        .then(response => {
          if (response.data) {
            this.$store.commit("login", response.data);
            if(response.data.logged ==true)
            {
                window.location.href="/dashboard/create";
            }
            this.showAlert();
          }
        })
        .catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
    },
},
   
    showAlert() {
      this.$swal({
        type: "success",
        title: "Login successfully ",
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 5000
      });
    }
  
};
</script>
