<template>
  <div>

    <section class="pb-45">
      <div class="container">
        <div class>
          
          <div class="col-md-6">
            <form id="app" @submit="saveBranch" method="post">
              <div class="register_box full-width">
                <h2 class="gift-head">Add Branch</h2>
                <div class="row">
                   
                  <!-- /.col-lg-6 -->
                  <div class="col-lg-6 col-md-6">
                    <input
                      class="inpt"
                      type="text"
                      v-model="name"
                      required
                      placeholder="name"
                    />
                    <label v-if="errors && errors.name" class="error">{{ errors.name[0] }}</label>
                  </div>
                  <!-- /.col-lg-6 -->
                  <div class="col-lg-6 col-md-6">
<textarea            class="inpt"
                      type="text"
                      style="-moz-appearance: textfield;"
                      v-model="description"
                      required
                      placeholder="description">

</textarea>

                    <label v-if="errors && errors.description" class="error">{{ errors.description[0] }}</label>
                  </div>
                  
                  
                </div>
                <!-- /.row -->

              
              </div>

              <div class="register_box full-width">
                
                <button
                  class="button-main"
                  type="button"
                  @click="saveBranch"
                >Save</button>
                <!-- </div> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      name: null,
      description: null,
      errors: {},
      success: false
      
    };
  },
  props: {
  },

  methods: {
 

    
    saveBranch: function(e) {
      let data = {
        name: this.description,
        description: this.description,
      };

      this.errors = {};

      axios
        .post("/dashboard", data)
        .then(response => {
          if (response.data) {
            
            if(response.data.status =='true')
            {
                window.location.href="/dashboard";
            }
            this.showAlert();
          }
        })
        .catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
    },
},
   
    showAlert() {
      this.$swal({
        type: "success",
        title: "Login successfully ",
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 5000
      });
    }
  
};
</script>
