
<template>
  <div>
 
    <section class="pb-45">
      <div class="container">
        <div class>
                      <a href="`/dashboard/create`">Add New</a>
          <div class="col-md-6">
            <table>
                <tr>
                    <td>
                    Name
                    </td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                    <tr v-for="branch in branches" :key="branch.id">
                    <td>
                    {{ branch.name }}
                    </td>
                    <td><a :href="`/dashboard/`+ branch.id ">Edit</a></td>
                    <td><a :href="`/dashboard/delete/`+ branch.id ">Delete</a></td>
                </tr>
            </table>

          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {

  data() {
    return {
      pageNumber: 1,
    branches: Object
    };
  },
  props: {
    branches: {
      type: Object,
      required: true
    }
  },
  methods: {
 

    
  
},
   
  created() {
    this.branches = this.branches;
  }
  
};
</script>
